package web

templ HelloForm() {
	@Base() {
		<div id="container">
			<video id="gum-local" autoplay playsinline></video>
			<button onclick="init()" class="bg-red-400 text-white px-4 py-2 mt-2">Open Camera</button>
			<div id="errorMsg" style="color: red; margin-top: 10px;"></div>
			<p class="warning"><strong>Warning:</strong> If you are not using headphones, playing audio may cause feedback.</p>
		</div>
	}
}
